# Node build artifacts
node_modules
npm-debug.log

# Local development
*.env
*.dev
.DS_Store

# Docker
Dockerfile
docker-compose.yml

# AWS
awsConfig.json
dbconfig.json

# ethan's comp is adding these random files lol
morning-gorge-26862
*.swj
*.swp